body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../footer1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:1104px;
    width:854px;
    height:68px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:854px;
    height:68px;
}

.u1 {
    position:absolute;
    left:2px;
    top:26px;
    width:850px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../footer1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:633px;
    top:1104px;
    width:370px;
    height:68px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:370px;
    height:68px;
}

.u3 {
    position:absolute;
    left:2px;
    top:26px;
    width:366px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../header1_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1500px;
    height:66px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1500px;
    height:66px;
}

.u6 {
    position:absolute;
    left:2px;
    top:25px;
    width:1496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:0px;
    top:66px;
    width:1501px;
    height:650px;
    overflow:hidden;
}

#pd3u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:1501px;
    height:650px;
    
}

.u9_normal {
    background-image: url('../registration_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1500px;
    height:834px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1500px;
    height:834px;
}

.u10 {
    position:absolute;
    left:2px;
    top:409px;
    width:1496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u11 {
    position:absolute;
    left:610px;
    top:172px;
    width:297px;
    height:65px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd2u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:1501px;
    height:650px;
    
}

.u12_normal {
    background-image: url('../registration_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1500px;
    height:836px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1500px;
    height:836px;
}

.u13 {
    position:absolute;
    left:2px;
    top:410px;
    width:1496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u14 {
    position:absolute;
    left:650px;
    top:339px;
    width:245px;
    height:194px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd1u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:1501px;
    height:650px;
    
}

.u15_normal {
    background-image: url('../registration_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1500px;
    height:834px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1500px;
    height:834px;
}

.u16 {
    position:absolute;
    left:2px;
    top:409px;
    width:1496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:731px;
    top:277px;
    width:162px;
    height:25px;
    ;
    background-color:#CED2D5;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:731px;
    top:366px;
    width:162px;
    height:24px;
    ;
    background-color:#CED2D5;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u19 {
    position:absolute;
    left:731px;
    top:535px;
    width:78px;
    height:31px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:1501px;
    height:650px;
    
}

.u20_normal {
    background-image: url('../registration_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1500px;
    height:838px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1500px;
    height:838px;
}

.u21 {
    position:absolute;
    left:2px;
    top:411px;
    width:1496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:713px;
    top:279px;
    width:182px;
    height:27px;
    ;
    background-color:#CED2D5;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:713px;
    top:368px;
    width:182px;
    height:27px;
    ;
    background-color:#CED2D5;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:713px;
    top:461px;
    width:182px;
    height:27px;
    ;
    background-color:#CED2D5;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u25 {
    position:absolute;
    left:731px;
    top:535px;
    width:78px;
    height:31px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

