body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../couponmanagement_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1200px;
    height:42px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:48px;
}

.u1 {
    position:absolute;
    left:2px;
    top:13px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:22px;
    top:10px;
    width:204px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:1087px;
    top:8px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_normal {
    background-image: url('../couponmanagement_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:52px;
    width:1200px;
    height:224px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:230px;
}

.u5 {
    position:absolute;
    left:2px;
    top:104px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:23px;
    top:222px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:22px;
    top:61px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:106px;
    top:59px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:23px;
    top:94px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:106px;
    top:94px;
    width:258px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:150px;
    top:222px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u12 {
    position:absolute;
    left:0px;
    top:294px;
    width:1249px;
    height:81px
}

.u13_normal {
    background-image: url('../couponmanagement_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:36px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:42px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../couponmanagement_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:111px;
    top:0px;
    width:232px;
    height:36px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:238px;
    height:42px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:228px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../couponmanagement_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:343px;
    top:0px;
    width:123px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../couponmanagement_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:466px;
    top:0px;
    width:125px;
    height:36px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:42px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../couponmanagement_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:592px;
    top:0px;
    width:114px;
    height:36px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:42px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../couponmanagement_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:706px;
    top:0px;
    width:150px;
    height:36px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:42px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../couponmanagement_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:856px;
    top:0px;
    width:86px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../couponmanagement_files/u25_normal.png');
}

.u27_container {
    position:absolute;
    left:942px;
    top:0px;
    width:86px;
    height:36px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:42px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../couponmanagement_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:1028px;
    top:0px;
    width:91px;
    height:36px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:42px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../couponmanagement_files/u19_normal.png');
}

.u31_container {
    position:absolute;
    left:1119px;
    top:0px;
    width:125px;
    height:36px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:42px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../couponmanagement_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:36px;
    width:111px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../couponmanagement_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:111px;
    top:36px;
    width:232px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:238px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:228px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../couponmanagement_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:343px;
    top:36px;
    width:123px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../couponmanagement_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:466px;
    top:36px;
    width:125px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../couponmanagement_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:592px;
    top:36px;
    width:114px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../couponmanagement_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:706px;
    top:36px;
    width:150px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../couponmanagement_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:856px;
    top:36px;
    width:86px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../couponmanagement_files/u45_normal.png');
}

.u47_container {
    position:absolute;
    left:942px;
    top:36px;
    width:86px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../couponmanagement_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:1028px;
    top:36px;
    width:91px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../couponmanagement_files/u39_normal.png');
}

.u51_container {
    position:absolute;
    left:1119px;
    top:36px;
    width:125px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../couponmanagement_files/u33_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:56px;
    width:111px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../couponmanagement_files/u35_normal.png');
}

.u55_container {
    position:absolute;
    left:111px;
    top:56px;
    width:232px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:238px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:228px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../couponmanagement_files/u37_normal.png');
}

.u57_container {
    position:absolute;
    left:343px;
    top:56px;
    width:123px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../couponmanagement_files/u39_normal.png');
}

.u59_container {
    position:absolute;
    left:466px;
    top:56px;
    width:125px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../couponmanagement_files/u41_normal.png');
}

.u61_container {
    position:absolute;
    left:592px;
    top:56px;
    width:114px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../couponmanagement_files/u43_normal.png');
}

.u63_container {
    position:absolute;
    left:706px;
    top:56px;
    width:150px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../couponmanagement_files/u45_normal.png');
}

.u65_container {
    position:absolute;
    left:856px;
    top:56px;
    width:86px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../couponmanagement_files/u45_normal.png');
}

.u67_container {
    position:absolute;
    left:942px;
    top:56px;
    width:86px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../couponmanagement_files/u49_normal.png');
}

.u69_container {
    position:absolute;
    left:1028px;
    top:56px;
    width:91px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../couponmanagement_files/u39_normal.png');
}

.u71_container {
    position:absolute;
    left:1119px;
    top:56px;
    width:125px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

