<!DOCTYPE html >
<html lang="zh-cmn-Hans">
<head>
    <title>供应链金融 - 煤易贷 - 仓押管理平台</title>
<%- include("common/headcss") %>
</head>


<body>
<div class="wrapper">
    <div class="abs-center wd-xl">
        <!-- START panel-->
        <div class="text-center mb-xl">
            <div class="text-lg mb-lg">401</div>
            <p class="lead m0">您没有登录.</p>
            <p>您需要进行登录才能继续操作.</p>
        </div>
        <div class="input-group mb-xl">
            <input type="text" placeholder="请输入关键字" class="form-control">
            <span class="input-group-btn">
               <button type="button" class="btn btn-default">
                  <em class="fa fa-search"></em>
               </button>
            </span>
        </div>
        <ul class="list-inline text-center text-sm mb-xl">
            <li><a href="/warehouse/admin/home" class="text-muted">回到首页</a>
            </li>
            <li class="text-muted">|</li>
            <li><a href="/warehouse/admin/login" class="text-muted">登录</a>
            </li>
            <li class="text-muted">|</li>
            <li><a href="/warehouse/admin/login" class="text-muted">注册</a>
            </li>
        </ul>
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>2016</span>
            <span>-</span>
            <span>易煤网</span>
        </div>
    </div>
</div>

</body>

</html>