body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:969px;
    top:13px;
    width:533px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../productpics_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:969px;
    top:48px;
    width:853px;
    height:159px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:853px;
    height:159px;
}

.u2 {
    position:absolute;
    left:2px;
    top:72px;
    width:849px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

