@import '../helpers/_variables.scss';


.topnavbar .navbar-header .navbar-brand  {
  .ym-header-logo {
    padding: 7px 0px;
    img {
      width: 100px;
      height: 40px;
    }
  }

  .ym-header-logo-collapsed {
    img {
      width: 42px;
      height: 40px;
    }
  }
}

