body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:17px;
    top:11px;
    width:594px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../productdetailsinfo_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:17px;
    top:77px;
    width:1100px;
    height:711px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:717px;
}

.u2 {
    position:absolute;
    left:2px;
    top:348px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:35px;
    top:85px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:35px;
    top:124px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:195px;
    top:124px;
    width:602px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:35px;
    top:234px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:195px;
    top:311px;
    width:836px;
    height:175px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_normal {
    background-image: url('../productdetailsinfo_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:195px;
    top:234px;
    width:842px;
    height:87px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:842px;
    height:87px;
}

.u9 {
    position:absolute;
    left:2px;
    top:36px;
    width:838px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:35px;
    top:549px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:195px;
    top:552px;
    width:602px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:1259px;
    top:4px;
    width:511px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../productdetailsinfo_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:1259px;
    top:34px;
    width:925px;
    height:758px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:925px;
    height:758px;
}

.u14 {
    position:absolute;
    left:2px;
    top:371px;
    width:921px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

